{% extends 'layout.html' %}

{% block content %}
{% for entry in entries %}
<h2>{{ entry.title }} - Details</h2>
        <table class="u-full-width">
          <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Time Spent (hours)</th>
                <th>What You Learned</th>
                <th>Resources to Remember</th>
                <th>Tags</th>
            </tr>
          </thead>
          <tbody>
          <tr>
              <th>{{ entry.title }}</th>
              <th>{{ entry.entry_date }}</th>
              <th>{{ entry.time_spent }}</th>
              <th>{{ entry.what_you_learned }}</th>
              <th>{{ entry.to_remember }}</th>
              <th>{% for tag in tags %} {{ tag.tag }} {% endfor %}</th>
          </tr>
          </tbody>
        </table>
<div class="grid-25">
    <div class="u-full-width">
        <button type="button" class="button-primary" onclick="parent.location='http://0.0.0.0:8000/entries'">Back</button>
        {% if current_user.is_authenticated %}
      <button type="button" class="button-primary" onclick="parent.location='http://0.0.0.0:8000/entries/{{ entry.slug }}/edit'">Edit</button>
        <button type="button" class="button-primary" onclick="parent.location='http://0.0.0.0:8000/entries/{{ entry.slug }}/delete'">Delete</button>
  </div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}