{% extends 'layout.html' %}

{% block content %}
<h2>Flask Journal</h2>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
                <th>Tags</th>
            </tr>
          </thead>
          <tbody>
          {% if entries.count() %}
            {% for entry in entries %}
          <tr>
          <th><a href="/entries/{{ entry.slug }}" title="{{ entry.title }}">{{ entry.title }}</a></th>
              <th>{{ entry.entry_date }}</th>
              {% for tag in entry.tags %}
              <th><a href="/tag/{{ tag.tag }}" title="{{ tag.tag }}">{{ tag.tag }}</a></th>
          </tr>
          {% endfor %}
          </tbody>
            {% else %}
        <!-- message for missing entries -->
        <p>no entries yet</p>
            {% endfor %}
        {% endif %}
        </table>
{% endblock %}